@import 'tailwindcss';

:root {
  --background: rgb(18, 18, 18);
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(18, 18, 18);
    --foreground: #ededed;
  }
}

@keyframes focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@theme {
  --breakpoint-mid: 1020px;
  --breakpoint-2lg: 1120px;
}

.animate-focus-in {
  animation: focus-in 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;

  & button {
    cursor: pointer;
  }
}
